.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  0px 140px;
}

.home div:nth-child(1) {
    height: calc(90vh - 40px);
}
.home div:nth-child(2) {
    /* background-color: beige; */
}


img {
    object-fit: contain;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.socials {
    display: flex;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.name {
    font-size: 3.4rem;
    color: #87C6EA;
    font-weight: 900;
}


.hero-img-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.my-img {
    height: 70vh;
    bottom: 0;
}



.job-title {
    color: #03A185;
    font-size: 2.5rem;
}

.passion {
    color: #1d1d1d;
    font-size: 1.3rem;
}

.spin-image {
    /* Set initial styles */
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    animation: spin 5s linear infinite; /* Apply spin animation */
    position: absolute;
    right: 100px;
    top: 400px;
    height: 55px;
  }

  .spin-image2 {
    /* Set initial styles */
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    animation: spin 15s linear infinite; /* Apply spin animation */
    position: absolute;
    right: 100px;
    top: 400px;
    height: 55px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
  
  

  .btn-container {
    display: flex;
  }


  .node {
    top: 500px;
    right: 10px;
  }

  .vscode {
    position: absolute;
    z-index: -5;
    right: 200px;
    top: 500px;  }

  .spin-image3 {
    /* Set initial styles */
    width: 40px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    animation: spin 60s linear infinite; /* Apply spin animation */
    position: absolute;
  }

  